# === Unreal Engine
# Visual Studio / IDE user specific files
.vs/
.idea/
.vscode/
Trashtronaut.code-workspace

# Unreal Engine build & compiled files
Binaries/
**/Binaries/
Saved/
Intermediate/
**/Intermediate/
DerivedDataCache/
Config/Layouts/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Generated project files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Build directory & Whitelists
Build/*
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Plugins
Plugins/Diversion/

# Write permissions check files
WritePermissions.*.temp

# Ensure Content directory is tracked
!Content/**

# OS & System Junk
.DS_Store
*~
*.swp
*.log
.ignore
Makefile
